<div class="col-md-6">
    <h1 class="text-black alert-info">Page Not Found</h1>
    <a class="btn btn-outline-info"asp-controller="Movies"asp-action="Index"><i class="bi bi-info"></i>Go To Movies</a>
</div>
